<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Lista de Productos</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-products-form></app-products-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre del Producto</th>
                    <th>Descontinuado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.productId}}</td>
                    <td (click)="populateForm(pd)">{{pd.productName}}</td>
                    <td (click)="populateForm(pd)"
                    [ngStyle]="{
                      color: pd.discontinued
                        ? 'hsl(141, 53%, 53%)'
                        : 'hsl(348, 100%, 61%)'
                    }"
                  >
                    <b>{{ pd.discontinued | yesNo }}</b>
                  </td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.productId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
