<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Lista de Empleados</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-employees-form></app-employees-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.employeeId}}</td>
                    <td (click)="populateForm(pd)">{{pd.firstName}}</td>
                    <td (click)="populateForm(pd)">{{pd.lastName}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.employeeId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
